.blue_link{
    color: blue;
}

.red_link{
    color: red;
}

/* селектор по типу элемента */
h1{
    margin-top: 50px;
    color: rgb(0, 255, 106);
    font-family: Merriweather Sans;
}

/* identifiactor */
#unic{
    font-size: larger;
    color: blueviolet;
}

/* селектор потомков */
ul li{
    font-weight: 800;
    list-style-type: circle;
}

/* фрейм / блок внутри страницы */
/* nav {
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    color: rgb(241, 255, 220); 
    width: 300px;
}

nav:hover{
    background-color: rgb(43, 255, 71);
    border-radius: 10px;
    width: 300px;
} */

/* селектор псевдоклассов + наведение */
a:hover{
    color:blueviolet
}


li:first-child{
    font-weight: bold;
    color: olive;
}

.eban{
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.corzina{
    width: 250px;
    height: 250px;
    background-color: rgb(18, 18, 214);
    border-radius: 20px;
    margin-top: 4%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 4%;
}

.content-contaier:hover{
    background-color: black;
    color: white;
    border-radius: 2%;
    padding: 5% 1%;
    margin-top: 3%;
}

.content-contaier{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 2%;
    padding: 5% 1%;
    margin-top: 3%;
}

/* section{
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 2%;
    padding: 5% 1%;
    margin-top: 3%;
} */

/* section:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 2%;
    padding: 5% 1%;
    margin-top: 3%;
} */

body{
    padding: 0px 0px 80px 0px;
    width: flex;
    margin-left: auto;
    margin-right: auto;
}